<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://s.budejie.com/topic/list/jingxuan/1/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/list/jingxuan/41/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/list/jingxuan/10/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/tag-topic/64/hot/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/tag-topic/3096/hot/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/list/remen/1/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/tag-topic/473/hot/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/tag-topic/117/hot/bs0315-iphone-4.2/0-20.json</string>
	<string>http://s.budejie.com/topic/tag-topic/164/hot/bs0315-iphone-4.2/0-20.json</string>
</array>
</plist>
